
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="box">

    <input type="text" id="nik" name="nik" placeholder="Enter nik" />
    <input type="text" id="text" name="text" placeholder="Enter text" />
    <input type="submit" class="btn" value="Send" />

</div>

<div class="wall">

</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/script.js"></script>
