
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="box">
    <form method="post" action="ProcessData">
        <input type="text" name="nik" placeholder="Enter nik" />
        <input type="text" name="text" placeholder="Enter text" />
        <input type="submit" class="btn" value="Send" />
    </form>
</div>

<div class="wall">
    
</div>